.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

.card {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #cbced2;
}

.main-heading {
  color: #326a9d;
}

.button {
  padding: 10px;
  color: #326a9d;
  font-weight: bold;
  font-size: 14px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #326a9d;
  border-radius: 6px;
  border-width: 3px;
}
